<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Kindle Unlimited Book List</title>
    <link rel="stylesheet" href="../../static/css/kindle.css" type="text/css"/>
</head>

<body>
    <table>
        <thead>
            <tr>
              <th>No.</th>
              <th>表紙</th>
              <th>著者</th>
              <th>タイトル</th>
              <th>出版日</th>
            </tr>
        </thead>
        <tbody>
